/* police titre EB */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rubik:wght@300;400;700&display=swap");

:root {
  --white: #ffffff;
  --pinkmo: #f5578e;
  --bluemo: #56ddd9;
  --grey: #bac0c0;
  --bgtwo: #171717;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* bouton burger mobile */
.btn-burger div {
  height: 3px;
  width: 30px;
  background-color: var(--pinkmo);
  margin: 5px 0;
  transition: all 0.3s ease;
}

.btn-burger {
  display: none;
}

.mobile-nav {
  display: none;
}

/*!header building */

header {
  height: 80px;
}

.section-flex {
  height: 100%;
  margin-top: 1%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/**sizing of logo */
nav p {
  margin-left: 50px;
}

nav span {
  font-size: 1.8rem;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
}

/**button display*/
nav ul {
  list-style: none;
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
}

nav ul li {
  font-size: 1.8rem;
  margin: 0 10px;
}

nav i {
  font-size: 20px;
  margin: 0 5px;
  margin-bottom: 6%;
}

.colorWhite {
  color: var(--white);
}

.colorBlue {
  color: var(--bluemo);
}

.colorPink {
  color: var(--pinkmo);
}

.colorOrange {
  color: orangered;
}

.colorYell {
  color: yellow;
}

.colorBlueB {
  color: #185ada;
}

.colorGrey {
  color: var(--grey);
}

.bgtwo {
  color: var(--bgtwo);
}

/* apparence des options */
ul a {
  text-decoration: none;
  color: var(--white);
}

body {
  font-family: "Rubik", "Arial";
  font-style: normal;
  background-color: #010101;
  background-size: cover;
  color: var(--white);
}

h1 {
  display: flex;
  font-family: "Fredoka One", "Arial";
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

h1 span {
  margin: 0 .5%;
}

.hr {
  margin: 2% auto;
  margin-top: 1%;
  background-color: var(--pinkmo);
  height: 1px;
  width: 80%;
  border: none;
}

.gridMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  margin: 1% 5%;
  height: 460px;
  padding: 10px;
  background-color: var(--bgtwo);
  border-radius: 10px;
}

.gridFirst {
  grid-column: 1;
  grid-row: 1;
  width: 800px;
}

.gridSecond {
  grid-column: 2;
  grid-row: 1;
  margin-top: 3%;
  margin-left: 20%;
}

h2 {
  padding: 2%;
  font-size: 120%;
  width: 100%;
}

a.dwnld-btn {
  text-decoration: none;
  padding: 10px;
  background: linear-gradient(var(--pinkmo), var(--bluemo));
  color: white;
  border-radius: 25px;
  margin: .5% 8.6%;
  position: absolute;
  z-index: 3;
}

a.dwnld-btn:hover {
  background: linear-gradient(var(--bluemo), var(--pinkmo));
}

.img {
  display: block;
  position: relative;
  z-index: 1;
}

.sizepic {
  width: 350px;
  border-radius: 5px;
}

.sizepic:hover {
  width: 380px;
}

/* !website's footer */

.section-flex2 {
  display: grid;
  align-content: center;
}

footer {
  margin-top: 4%;
  display: grid;
  background-color: #171717;
  height: 14vh;
}

.wrapperFooter {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.wrapTop {
  grid-column: 2;
  grid-row: 1 / 3;
}

.wrapBot {
  grid-column: 1;
  grid-row: 1 / 3;
}

.wrapSign {
  grid-column: 3;
  grid-row: 1 / 3;
  color: var(--grey);
  font-size: 1.5rem;
}

.wrapSign p {
  margin-left: 0;
}

#pics {
  display: flex;
  width: 400px;
  justify-content: space-around;
}

#pics img:hover {
  width: 60px;
}

#picsMobile {
  display: none;
}

#mail {
  margin-top: 5px;
  font-size: 1.8rem;
}

#mail a {
  text-decoration: none;
  color: var(--grey);
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* ?footer resize full window */
@media screen and (max-width: 780px) {

  /* ! header */
  header {
    margin-top: 2%;
  }

  nav ul {
    margin-right: 2%;
  }

  .section-flex {
    width: 100%;
  }

  nav p {
    margin-left: 2%;
  }

  /* ! container */
  a.dwnld-btn {
    margin: 4% 14%;
  }

  h1 {
    width: 80%;
    font-size: 180%;
    justify-content: center;
  }

  h1 span {
    margin: 0 0.8%;
  }

  .hr {
    height: 3px;
    margin: 2% auto;
  }

  .gridMain {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    margin: 5% 5%;
    height: 1040px;
  }

  .gridFirst {
    grid-column: 1;
    grid-row: 1;
    width: 90%;
    height: 85%;
    padding: 2%;
  }

  .gridSecond {
    grid-column: 1;
    grid-row: 2;
    margin-left: 0;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  /* MAIN */
  h2 {
    font-size: 120%;
    width: 100%;
    line-height: 140%;
    margin-bottom: 0;
  }

  .img {
    display: block;
  }

  .sizepic {
    width: 320px;
  }


  /* !footer */

  #picsMobile {
    display: none;
  }

  footer {
    margin-top: 15%;
    width: 100%;
    height: 27vh;
  }

  .wrapperFooter {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }

  .wrapTop {
    margin-top: 2%;
    width: 80%;
    grid-column: 1;
    grid-row: 1;
  }

  .wrapBot {
    grid-column: 1;
    grid-row: 2;
  }

  .wrapSign {
    grid-column: 1;
    grid-row: 3;
    color: var(--bluemo);
    margin-bottom: 2%;
    font-size: 100%;
  }

  nav #pics {
    display: flex;
    justify-content: space-around;
    margin-left: 16%;
  }

  nav #picsMobile {
    display: none;
  }

  nav #mail {
    display: flex;
    font-size: 1rem;
    justify-content: center;
    width: 150px;
  }

  #mail a {
    text-decoration: none;
    color: var(--grey);
    font-size: 140%;
  }

}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*? mobile size */
/* ?400 x 786 */
@media screen and (max-width: 600px) {
  header {
    height: 50px;
    margin-bottom: 10px;
  }

  .section-flex {
    margin-bottom: 10px;
  }

  nav span {
    font-size: 1.8rem;
    margin: 0 10px;
  }

  nav a {
    text-decoration: none;
  }

  nav ul li {
    display: none;
  }

  nav p {
    margin-left: 10px;
  }

  /* button burger */
  .mobile-nav {
    display: inline-block;
    background: linear-gradient(#f5578e, #56ddd9);
    border-radius: 5px;
    width: 90%;
    top: 10%;
    right: 0;
    /* position and overflow are important to hide the menu burger */
    position: fixed;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .mobile-ul {

    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 46vh;
  }

  .mobile-ul a {
    color: var(--white);
  }

  .btn-burger {
    display: block;
    margin-right: 10px;
  }

  .mobile-nav-active {
    transform: translateX(-5%);
  }

  h1 {
    width: 85%;
    margin: auto;
    font-size: 160%;
    justify-content: center;
    padding: 10px;
    text-align: center;
  }

  a.dwnld-btn {
    margin: 4% 7.5%;
  }

  h1 span {
    margin: 0 1%;
  }

  .hr {
    height: 3px;
    margin: 2% auto;
  }

  .gridMain {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    margin: 5% 5%;
    height: 860px;
  }

  .gridFirst {
    grid-column: 1;
    grid-row: 1;
    width: 300px;
    text-align: center;
  }

  .gridSecond {
    margin-top: 10%;
    grid-column: 1;
    grid-row: 2;
    margin-left: 0;
  }

  /* MAIN */
  h2 {
    padding: 2%;
    font-size: 90%;
    width: 100%;
    line-height: 140%;
  }

  .img {
    display: block;
  }

  .sizepic {
    width: 180px;
  }

  /* !footer */
  #pics {
    display: none;
  }

  footer {
    margin-top: 12%;
    display: grid;
    background-color: #171717;
    height: 18vh;
  }

  .wrapperFooter {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }

  .wrapTop {
    margin-top: 2%;
    grid-column: 1;
    grid-row: 1;
  }

  .wrapBot {
    grid-column: 1;
    grid-row: 2;
    margin-left: 8%;
  }

  .wrapSign {
    grid-column: 1;
    grid-row: 3;
    color: var(--bluemo);
    margin-bottom: 2%;
    font-size: .8rem;
  }

  nav #pics {
    display: none;
  }

  nav #picsMobile {
    display: flex;
    width: 60%;
    justify-content: space-around;
  }

  nav #mail {
    display: flex;
    margin-top: 5px;
    font-size: 1rem;
    justify-content: center;
    width: 150px;
    margin-right: 30px;
  }

  #mail a {
    text-decoration: none;
    color: var(--grey);
    font-size: 100%;
  }


  /* La classe toggle est créée directement en JS */
  .toggle .line-1 {
    transform: rotate(45deg) translateX(11px);
  }

  .toggle .line-2 {
    opacity: 0;
  }

  .toggle .line-3 {
    transform: rotate(-45deg) translateX(11px);
  }

  .mobile-img {
    display: block;
  }

  .desktop-img {
    display: none;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* ?1920 x 1080 PC  */
@media screen and (min-width: 1920px) {
  /* ?navbar */

  .flex-nav {
    height: 100px;
    margin-top: 1%;
  }

  /* ?definition du header */

  header {
    height: 80px;
  }

  nav span {
    font-size: 2.5rem;
    margin: 0 10px;
  }

  /* ?look of three options */

  nav ul li {
    font-size: 2.3rem;
    margin: 0 10px;
  }

  .gridMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    margin: 2% 5%;
  }

  .gridFirst {
    grid-column: 1;
    grid-row: 1;
    width: 1000px;
  }

  .gridSecond {
    grid-column: 2;
    grid-row: 1;
    margin-top: 2%;
    margin-left: 20%;
  }

  h2 {
    padding: 2%;
    font-size: 140%;
    width: 100%;
    line-height: 140%;
  }

  a.dwnld-btn {
    padding: 15px;
    margin: 1.2% 8.6%;
  }

  .img {
    display: block;
  }

  .sizepic {
    margin-top: 3%;
    width: 450px;
  }

  footer {
    margin-top: 5%;
    display: grid;
    background-color: #171717;
    height: 14vh;
  }

  .flex-nav2 {
    max-width: 100%;
    margin-top: 25px;
  }

  #pics {
    display: flex;
    width: 350px;
    margin-left: 20px;
    justify-content: space-around;
  }

  #picsMobile {
    display: none;
  }

  #mail {
    display: flex;
    margin-top: 5px;
    font-size: 1.8rem;
    justify-content: center;
    width: 300px;
    margin-right: 100px;
  }

  #mail a {
    text-decoration: none;
    color: var(--grey);
  }
}