/* bouton burger mobile */
.btn-burger div {
  height: 3px;
  width: 30px;
  background-color: var(--pinkmo);
  margin: 5px 0;
  transition: all 0.3s ease;
}

.btn-burger {
  display: none;
}

.mobile-nav {
  display: none;
}

.sentence {
  text-align: center;
  font-family: "Fredoka One", "Arial";
  font-size: 1.2rem;
}

.sentence a {
  text-decoration: none;
}

/* DISPLAY ARRAY CENTER  */
.containerV2 {
  display: grid;
  width: 920px;
  height: 100px;
  margin: 2% auto;
  border-radius: 5px;
}

.gridMain {
  display: grid;
  grid-template-columns: minmax(100px, 1fr);
  align-items: center;
  margin: auto 5%;
}

.gridMain a {
  font-size: 150%;
  text-decoration: none;
}

.gridFirst {
  grid-column: 1;
  grid-row: 1;
}

.gridSecond {
  grid-column: 2;
  grid-row: 1;
}

.gridThree {
  grid-column: 1;
  grid-row: 1;
}

.gridFour {
  grid-column: 2;
  grid-row: 1;
}

.gridFive {
  grid-column: 1;
  grid-row: 1;
}

.gridSix {
  grid-column: 2;
  grid-row: 1;
}

/* !website's footer */

.section-flex2 {
  display: grid;
  align-content: center;
}

footer {
  margin-top: 3%;
}

.wrapperFooter {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.wrapTop {
  grid-column: 2;
  grid-row: 1 / 3;
}

.wrapBot {
  grid-column: 1;
  grid-row: 1 / 3;
}

.wrapSign {
  grid-column: 3;
  grid-row: 1 / 3;
  font-size: 1.5rem;
}

.wrapSign p {
  margin-left: 0;
}

#pics {
  display: flex;
  width: 400px;
  justify-content: space-around;
}

#pics img:hover {
  width: 60px;
}

#picsMobile {
  display: none;
}

#mail {
  margin-top: 5px;
  font-size: 1.8rem;
}

#mail a {
  text-decoration: none;
}

/*  */
/*  */
/*  */
@media screen and (max-width: 730px) {

  /* ! header */
  header {
    margin-top: 2%;
  }

  nav ul {
    margin-right: 1%;
  }

  .section-flex {
    width: 100%;
  }

  nav p {
    margin-left: 2%;
  }

  /* !container */
  .sentence {
    margin-bottom: 6%;
  }

  .containerV2 {
    display: grid;
    width: 80%;
    margin: 2% auto;
    background: #171717;
    border-radius: 10px;
  }

  /* !footer */

  #picsMobile {
    display: none;
  }

  footer {
    margin-top: 8%;
    width: 100%;
    height: 28vh;
  }

  .wrapperFooter {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }

  .wrapTop {
    margin-top: 2%;
    width: 80%;
    grid-column: 1;
    grid-row: 1;
  }

  .wrapBot {
    grid-column: 1;
    grid-row: 2;
  }

  .wrapSiteEN {
    display: none;
  }

  .wrapSign {
    grid-column: 1;
    grid-row: 3;
    color: var(--bluemo);
    margin-bottom: 2%;
    font-size: 100%;
  }

  nav #pics {
    display: flex;
    justify-content: space-around;
    margin-left: 16%;
  }

  nav #picsMobile {
    display: none;
  }

  nav #mail {
    display: flex;
    font-size: 1rem;
    justify-content: center;
    width: 150px;
  }

  #mail a {
    text-decoration: none;
    color: var(--grey);
    font-size: 140%;
  }

}

/*  */
/*  */
/*  */
/*? mobile size */
@media screen and (max-width: 600px) {
  .sentence {
    font-size: 1rem;
  }

  .sentence a {
    text-decoration: none;
  }

  /* DISPLAY ARRAY CENTER  */
  .containerV2 {
    width: 300px;
    margin: 11% auto;
    text-align: center;
  }

  .gridMain a {
    font-size: 90%;
  }

  /* !footer */
  #pics {
    display: none;
  }

  footer {
    margin-top: 6%;
  }
}

@media screen and (min-width: 1920px) {
  .sentence {
    margin-top: 2%;
    font-size: 170%;
  }

  .sentence a {
    text-decoration: none;
  }

  /* DISPLAY ARRAY CENTER  */
  .containerV2 {
    width: 1100px;
  }

  .gridMain {
    font-size: 200%;
    margin: auto 4%;
    text-align: center;
    row-gap: 20px;
  }

  .gridMain a {
    font-size: 90%;
  }
}