/* bouton burger mobile */
.btn-burger div {
  height: 3px;
  width: 30px;
  background-color: var(--pinkmo);
  margin: 5px 0;
  transition: all 0.3s ease;
}

.btn-burger {
  display: none;
}

.mobile-nav {
  display: none;
}

.greenL {
  color: #B5BAFF;
}

.greenE {
  color: #16632F;
}

.biblbg {
  color: #ECDC92;
}

.surf {
  color: lightcoral;
}

/* grid */
.projectTitle {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

#proj {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3%;
  margin: auto 5%;
  margin-top: 2%;
  width: 90%;
  height: 173vh;
}

#proj img {
  width: 100%;
  border-radius: 12px;
}

#proj h3 {
  width: 95%;
  display: block;
  text-align: center;
  margin: auto;
}

#proj h3 a {
  text-decoration: none;
  color: var(--bgWhite);
}

/*  */
/*  */
/*  */
@media screen and (min-width: 1920px) {
  #proj {
    height: 190vh;
  }
}

/*  */
/*  */
/*  */
/* ?footer resize full window */
@media screen and (max-width: 780px) {
  h2 {
    text-align: center;
    width: 80%;
    margin: 1% auto;
    font-size: 140%;
    margin-top: 6%;
  }

  #proj {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    margin: auto 5%;
    margin-top: 2%;
    height: 100vh;
  }

  #proj h3 {
    margin-top: 8%;
  }

  #proj img {
    width: 300px;
    height: 150px;
  }
}

/*  */
/*  */
/*  */
/*? mobile size */
/* ?400 x 786 */
@media screen and (max-width: 600px) {
  #proj {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3%;
    margin: 8% auto;
    width: 90%;
    height: 230vh;
    text-align: center;
  }

  .projectTitle {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
  }

  #proj h3 {
    margin-top: 3%;
  }

  #proj img {
    width: 300px;
    height: 150px;
  }
}