/* bouton burger mobile */
.btn-burger div {
  height: 3px;
  width: 30px;
  background-color: var(--pinkmo);
  margin: 5px 0;
  transition: all 0.3s ease;
}

.btn-burger {
  display: none;
}

.mobile-nav {
  display: none;
}

.indexTitle,
.gridMain,
.projectTitle {
  padding: 10px;
}

.indexTitle,
.projectTitle {
  font-size: 2rem;
  font-family: "Fredoka One", "Arial";
}

.gridMain,
.sizepic {
  border-radius: 12px;
}

.indexTitle {
  display: flex;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1%;
  font-size: 2rem;
}

#indexTitleEN {
  text-align: center;
}

h1 span {
  margin: 0 .5%;
}

.br {
  content: "";
  display: block;
  height: 5vh;
}

.hr {
  margin: 2% auto;
  background-color: var(--pinkmo);
  height: 1px;
  width: 77%;
  border: none;
}

.hr:nth-child(2) {
  margin-top: 1%;
  margin-bottom: 0%;
}

.hr:nth-child(4) {
  margin-top: 0%;
}

.hr:nth-child(3) {
  margin-top: 0%;
  margin-bottom: 0%;
}

.gridMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  width: 79vw;
  margin: auto 11%;
}

.gridFirst {
  grid-column: 1;
  grid-row: 1;
  width: 58vw;
}

.gridSecond {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.content-home {
  padding: 2%;
  font-size: 120%;
  width: 100%;
}

.dwnld-btn a {
  text-decoration: none;
  padding: 10px;
  background-color: var(--pinkmo);
  color: white;
  border-radius: 25px;
}

#cont-pic {
  display: flex;
  justify-content: center;
}

.sizepic {
  width: 80%;
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* ?1920 x 682 PC  */
@media screen and (min-width: 1920px) {

  /* !container */
  .gridMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    margin: 2% auto;
    width: 80%;
    height: 53vh;
  }

  .gridFirst {
    grid-column: 1;
    grid-row: 1;
    width: 58vw;
  }

  .gridSecond {
    grid-column: 2;
    grid-row: 1;
    margin-top: 2%;
    margin-left: 1%;
  }

  h2 {
    padding: 2%;
    font-size: 140%;
    width: 100%;
    line-height: 140%;
  }

  a.dwnld-btn {
    padding: 15px;
    margin: 1.2% 6.8%;
  }

  .sizepic {
    width: 80%;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* ?footer resize full window */
@media screen and (max-width: 780px) {

  /* ! container */

  a.dwnld-btn {
    margin: 4% 8%;
  }

  .indexTitle {
    width: 80%;
    font-size: 180%;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
  }

  h1 span {
    margin: 0 0.8%;
  }

  .hr {
    height: 3px;
    margin: 2% auto;
  }
  .hr:nth-child(2),
  .hr:nth-child(4) {
    margin-top: 4%;
  }

  .hr:nth-child(3) {
    margin-top: 12%;
    margin-bottom: 6%;
  }
  .gridMain {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    height: 130vh;
  }

  .gridFirst {
    grid-column: 1;
    grid-row: 1;
    width: 90%;
    height: 85%;
    padding: 2%;
  }

  .gridSecond {
    grid-column: 1;
    grid-row: 2;
    margin-left: 0;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  /* MAIN */
  h2 {
    font-size: 120%;
    width: 100%;
    line-height: 140%;
    margin-bottom: 0;
  }

  .sizepic {
    width: 320px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*? mobile size */
/* ?400 x 786 */
@media screen and (max-width: 600px) {
  .indexTitle {
    width: 85%;
    margin: auto;
    font-size: 160%;
    justify-content: center;
    padding: 10px;
    text-align: center;
    margin-top: 8%;
  }

  a.dwnld-btn {
    margin: 4% auto;
  }

  .hr {
    height: 3px;
    margin: 2% auto;
  }

  .hr:nth-child(2),
  .hr:nth-child(4) {
    margin-top: 6%;
  }

  .hr:nth-child(3) {
    margin-top: 12%;
    margin-bottom: 6%;
  }

  .gridMain {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    height: 140vh;
  }

  .gridFirst {
    grid-column: 1;
    grid-row: 1;
    width: 300px;
    text-align: center;
  }

  .gridSecond {
    margin-top: 10%;
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 0%;
  }

  /* MAIN */
  h2 {
    padding: 2%;
    font-size: 90%;
    width: 100%;
    line-height: 140%;
  }

  .sizepic {
    width: 190px;
  }
}