/* police titre EB */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rubik:wght@300;400;700&display=swap");

:root {
  --black: #010101;
  --white: #fff;
  --pinkmo: #f5578e;
  --bluemo: #56ddd9;
  --grey: #bac0c0;
  --bgtwo: #171717;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* bouton burger mobile */
.btn-burger div {
  height: 3px;
  width: 30px;
  background-color: var(--pinkmo);
  margin: 5px 0;
  transition: all 0.3s ease;
}

.btn-burger {
  display: none;
}

.mobile-nav {
  display: none;
}

/*!header building */

header {
  height: 80px;
}

.section-flex {
  height: 100%;
  margin-top: 1%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/**sizing of logo */
nav p {
  margin-left: 50px;
}

nav span {
  font-size: 1.8rem;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
}

/**button display*/
nav ul {
  list-style: none;
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
}

nav ul li {
  font-size: 1.8rem;
  margin: 0 10px;
}

nav i {
  font-size: 20px;
  margin: auto 5px;
  margin-bottom: 6%;
}

.colorWhite {
  color: var(--white);
}

.colorBlue {
  color: var(--bluemo);
}

.colorPink {
  color: var(--pinkmo);
}

.colorGrey {
  color: var(--grey);
}

.html {
  color: orangered;
}

.css {
  color: #185ada;
}

.js {
  color: yellow;
}

.greenL {
  color: #B5BAFF;
}

.greenE {
  color: #16632F;
}

.biblbg {
  color: #ECDC92;
}

.surf {
  color: lightcoral;
}

/* apparence des options */
ul a {
  text-decoration: none;
  color: var(--white);
}

body {
  font-family: "Rubik", "Arial";
  font-style: normal;
  background-color: var(--black);
  background-size: cover;
  color: var(--white);
}

/* grid */
h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}

#proj {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  border-radius: 10px;
  width: 1200px;
  height: 1476px;
  margin: 1% auto;
  padding: 3%;
  gap: 4%;
  background-color: var(--bgtwo);
}


#proj img {
  width: 500px;
  height: 250px;
  border: var(--white) 1px solid;
  border-radius: 5px;
  box-shadow: 7px 7px 8px var(--white);
}

#proj h3 {
  display: block;
  margin-top: 2%;
  width: 77%;
  margin-left: 12%;
  justify-content: center;
}

#proj h3 a,
h4 a {
  text-decoration: none;
}

.proj-1 {
  grid-column: 1;
  grid-row: 1;
}

.proj-2 {
  grid-column: 2;
  grid-row: 1;
}

.proj-3 {
  grid-column: 1;
  grid-row: 2;
}

.proj-4 {
  grid-column: 2;
  grid-row: 2;
}

/* !website's footer */

.section-flex2 {
  display: grid;
  align-content: center;
}

footer {
  margin-top: 6%;
  display: grid;
  background-color: #171717;
  height: 14vh;
}

.wrapperFooter {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.wrapTop {
  grid-column: 2;
  grid-row: 1 / 3;
}

.wrapBot {
  grid-column: 1;
  grid-row: 1 / 3;
}

.wrapSign {
  grid-column: 3;
  grid-row: 1 / 3;
  color: var(--grey);
  font-size: 1.5rem;
}

.wrapSign p {
  margin-left: 0;
}

#pics {
  display: flex;
  width: 400px;
  justify-content: space-around;
}

#picsMobile {
  display: none;
}

#mail {
  margin-top: 5px;
  font-size: 1.8rem;
}

#mail a {
  text-decoration: none;
  color: var(--grey);
}



/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* ?footer resize full window */
@media screen and (max-width: 780px) {

  /* ! header */
  header {
    margin-top: 2%;
  }

  nav ul {
    margin-right: 1%;
  }

  .section-flex {
    width: 100%;
  }

  nav p {
    margin-left: 2%;
  }

  h2 {
    text-align: center;
    width: 80%;
    margin: 1% auto;
  }

  #proj h3 {
    margin-top: 5%;
  }

  #proj {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    width: 40%;
    height: auto;
    margin: 7% 9%;
    gap: 4%;
  }

  .proj-1 {
    grid-column: 1;
    grid-row: 1;
  }

  .proj-2 {
    grid-column: 1;
    grid-row: 2;
  }

  .proj-3 {
    grid-column: 1;
    grid-row: 3;
  }

  .proj-4 {
    grid-column: 1;
    grid-row: 4;
  }


  /* !footer */

  #picsMobile {
    display: none;
  }

  footer {
    margin-top: 35%;
    width: 100%;
    height: 23vh;
  }

  .wrapperFooter {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }

  .wrapTop {
    margin-top: 2%;
    width: 80%;
    grid-column: 1;
    grid-row: 1;
  }

  .wrapBot {
    grid-column: 1;
    grid-row: 2;
  }

  .wrapSiteEN {
    display: none;
  }

  .wrapSign {
    grid-column: 1;
    grid-row: 3;
    color: var(--bluemo);
    margin-bottom: 2%;
    font-size: 100%;
  }

  nav #pics {
    display: flex;
    justify-content: space-around;
    margin-left: 16%;
  }

  nav #picsMobile {
    display: none;
  }

  nav #mail {
    display: flex;
    font-size: 1rem;
    justify-content: center;
    width: 150px;
  }

  #mail a {
    text-decoration: none;
    color: var(--grey);
    font-size: 140%;
  }

}

/*  */
/*  */
/*  */
/*? mobile size */
/* ?400 x 786 */
@media screen and (max-width: 600px) {
  header {
    height: 50px;
    margin-bottom: 10px;
  }

  .section-flex {
    margin-bottom: 10px;
  }

  nav span {
    font-size: 1.8rem;
    margin: 0 10px;
  }

  nav a {
    text-decoration: none;
  }

  nav ul li {
    display: none;
  }

  nav p {
    margin-left: 10px;
  }


  /* button burger */
  .mobile-nav {
    display: inline-block;
    background: linear-gradient(#f5578e, #56ddd9);
    border-radius: 5px;
    width: 90%;
    top: 10%;
    right: 0;
    /* position and overflow are important to hide the menu burger */
    position: fixed;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .mobile-ul {

    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 46vh;
  }

  .mobile-ul a {
    color: var(--white);
  }

  .btn-burger {
    display: block;
    margin-right: 10px;
  }

  .mobile-nav-active {
    transform: translateX(-5%);
  }

  /* grid */
  #proj {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
  }

  h2 {
    font-size: 1rem;
  }

  .proj-container {
    display: grid;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 80%;
    height: 50%;
  }

  .proj-container p {
    font-size: 0.8rem;
  }

  .proj-img {
    width: 50px;
    height: 50px;
  }

  /* !footer */
  #pics {
    display: none;
  }

  footer {
    margin-top: 24%;
    display: grid;
    background-color: #171717;
    height: 18vh;
  }

  .wrapperFooter {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }

  .wrapTop {
    margin-top: 2%;
    grid-column: 1;
    grid-row: 1;
  }

  .wrapBot {
    grid-column: 1;
    grid-row: 2;
    margin-left: 8%;
  }

  .wrapSiteEN {
    display: none;
  }

  .wrapSign {
    grid-column: 1;
    grid-row: 3;
    color: var(--bluemo);
    margin-bottom: 2%;
    font-size: .8rem;
  }

  nav #pics {
    display: none;
  }

  nav #picsMobile {
    display: flex;
    width: 60%;
    justify-content: space-around;
  }

  nav #mail {
    display: flex;
    margin-top: 5px;
    font-size: 1rem;
    justify-content: center;
    width: 150px;
    margin-right: 30px;
  }

  #mail a {
    text-decoration: none;
    color: var(--grey);
    font-size: 100%;
  }

  /* La classe toggle est créée directement en JS */
  .toggle .line-1 {
    transform: rotate(45deg) translateX(11px);
  }

  .toggle .line-2 {
    opacity: 0;
  }

  .toggle .line-3 {
    transform: rotate(-45deg) translateX(11px);
  }

  .mobile-img {
    display: block;
  }

  .desktop-img {
    display: none;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* ?1920 x 1080 PC  */
@media screen and (min-width: 1920px) {
  /* ?navbar */

  .flex-nav {
    height: 100px;
    margin-top: 1%;
  }

  /* ?definition du header */

  header {
    height: 80px;
  }

  nav span {
    font-size: 2.5rem;
    margin: 0 10px;
  }

  /* ?look of three options */

  nav ul li {
    font-size: 2.3rem;
    margin: 0 10px;
  }

  footer {
    margin-top: 5%;
    display: grid;
    background-color: #171717;
    height: 14vh;
  }

  .flex-nav2 {
    max-width: 100%;
    margin-top: 25px;
  }

  #pics {
    display: flex;
    width: 350px;
    margin-left: 20px;
    justify-content: space-around;
  }

  #picsMobile {
    display: none;
  }

  #mail {
    display: flex;
    margin-top: 5px;
    font-size: 1.8rem;
    justify-content: center;
    width: 300px;
    margin-right: 100px;
  }

  #mail a {
    text-decoration: none;
    color: var(--grey);
  }
}