/* !STYLE POUR DEFINIR UN MODELE UNIVERSEL */
/* !definition taille de page */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* !couleurs prédéfinies */
:root {
    --pinkmo: #f5578e;
    --bluemo: #56ddd9;
    --grey: #bac0c0;
    --greyBis: #A3A5A5;
    --bgtwo: #171717;
    --bgBlack: #010101;
    --bgWhite: #ffeeee;
    --bgtwoBis: #CCECE6;
}

/* !definition du body */
body {
    font-family: "Rubik", "Arial";
    font-style: normal;
    /* !style de base avant retouche avec @media */
    /* background-color: var(--bgBlack);
    background-size: cover;
    color: var(--bgWhite); */
}

/* !style sans inclure couleur dans le body */
/* !dark theme du systeme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bgBlack);
        background-size: cover;
        color: var(--bgWhite);
    }

    header,
    .gridMain,
    .containerV2,
    #proj,
    footer {
        background-color: var(--bgtwo);
    }

    .containerV2 a {
        color: var(--bgWhite);
    }

    #mail a,
    .wrapSign {
        color: var(--grey);
    }

    #proj img {
        box-shadow: 8px 8px 5px var(--bgWhite);
    }

    #mainGrid,
    .containerV2,
    #proj,
    #proj img {
        border: var(--bgWhite) .5px solid;
    }
}

/* !light theme du systeme */
@media (prefers-color-scheme: light) {
    body {
        background-color: var(--bgWhite);
        background-size: cover;
        color: var(--bgBlack);
    }

    header,
    .gridMain,
    .containerV2,
    #proj,
    footer {
        background-color: var(--bgtwoBis);
    }

    .containerV2 a {
        color: var(--bgBlack);
    }

    #mail a,
    .wrapSign {
        color: var(--greyBis);
    }

    #proj img {
        border: var(--greyBis) 1px solid;
        box-shadow: 7px 7px 8px var(--greyBis);
    }

    #proj img {
        box-shadow: 8px 8px 5px rgb(0 0 0 / 20%);
    }

    #mainGrid,
    .containerV2,
    #proj,
    #proj img {
        border: var(--bgWhite) .5px solid;
    }
}

/* ! */

/* !definiton variables de couleurs */
.colorWhite {
    color: var(--bgWhite);
}

.colorBlue {
    color: var(--bluemo);
}

.colorPink {
    color: var(--pinkmo);
}

.colorOrange {
    color: orangered;
}

.colorYell {
    color: yellow;
}

.colorBlueB {
    color: #185ada;
}

.colorGrey {
    color: var(--grey);
}

.bgtwo {
    color: var(--bgtwo);
}

/* !header */

/*!header building */

header {
    height: 80px;
}

.section-flex {
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/**sizing of logo */
nav p {
    margin-left: 50px;
}

nav ul,
nav p {
    margin-top: 1.5%;
}

nav span {
    font-size: 1.8rem;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
}

/**button display*/
nav ul {
    list-style: none;
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
}

nav ul li {
    font-size: 1.8rem;
    margin: 0 10px;
}

nav i {
    font-size: 20px;
    margin: 0 5px;
    margin-bottom: 6%;
}

/* apparence des options */
ul a {
    text-decoration: none;
}

/* !footer*/
footer {
    display: grid;
    height: 14vh;
}

.wrapperFooter {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.wrapTop {
    grid-column: 2;
    grid-row: 1 / 3;
}

.wrapBot {
    grid-column: 1;
    grid-row: 1 / 3;
}

.wrapSign {
    grid-column: 3;
    grid-row: 1 / 3;
    font-size: 1.5rem;
}

.wrapSign p {
    margin-left: 0;
}

#pics {
    display: flex;
    width: 400px;
    justify-content: space-around;
}

#pics img:hover {
    width: 60px;
}

#picsMobile {
    display: none;
}

#mail {
    margin-top: 5px;
    font-size: 1.8rem;
}

#mail a {
    text-decoration: none;
}

/* !responsive mobile */
@media screen and (max-width: 600px) {

    /* !header */
    header {
        margin: 0;
        height: 8vh;
    }

    .section-flex {
        margin-bottom: 10px;
    }

    nav span {
        font-size: 1.8rem;
        margin: 0 10px;
    }

    nav a {
        text-decoration: none;
    }

    nav ul li {
        display: none;
    }

    nav p {
        margin-left: 10px;
    }

    /* !button burger */
    .mobile-nav {
        display: inline-block;
        background: linear-gradient(#f5578e, #56ddd9);
        border-radius: 5px;
        width: 90%;
        top: 10%;
        right: 0;
        /* position and overflow are important to hide the menu burger */
        position: fixed;
        overflow: hidden;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .mobile-ul {

        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 46vh;
    }

    .mobile-ul a {
        color: var(--bgWhite);
    }

    .btn-burger {
        display: block;
        margin-right: 10px;
    }

    .btn-burger,
    nav p {
        margin-top: 3%;
    }

    .mobile-nav-active {
        transform: translateX(-5%);
    }

    /* !footer */
    #pics {
        display: none;
    }

    footer {
        margin-top: 12.5%;
        display: grid;
        height: 15vh;
    }

    .wrapperFooter {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

    .wrapTop {
        margin-top: 2%;
        grid-column: 1;
        grid-row: 1;
    }

    .wrapBot {
        grid-column: 1;
        grid-row: 2;
        margin-left: 8%;
    }

    .wrapSign {
        grid-column: 1;
        grid-row: 3;
        color: var(--bluemo);
        margin-bottom: 2%;
        font-size: .8rem;
    }

    nav #pics {
        display: none;
    }

    nav #picsMobile {
        display: flex;
        width: 60%;
        justify-content: space-around;
    }

    nav #mail {
        display: flex;
        margin-top: 5px;
        font-size: 1rem;
        justify-content: center;
        width: 150px;
        margin-right: 30px;
    }

    #mail a {
        text-decoration: none;
        color: var(--grey);
        font-size: 100%;
    }


    /* La classe toggle est créée directement en JS */
    .toggle .line-1 {
        transform: rotate(45deg) translateX(11px);
    }

    .toggle .line-2 {
        opacity: 0;
    }

    .toggle .line-3 {
        transform: rotate(-45deg) translateX(11px);
    }

    .mobile-img {
        display: block;
    }

    .desktop-img {
        display: none;
    }
}

/* ?1920 x 1080 PC  */
@media screen and (min-width: 1920px) {

    /* !header */
    .flex-nav {
        height: 100px;
        margin-top: 1%;
    }


    header {
        height: 80px;
    }

    nav span {
        font-size: 2.5rem;
        margin: 0 10px;
    }

    nav ul li {
        font-size: 2.3rem;
        margin: 0 10px;
    }

    /* !footer */
    footer {
        margin-top: 2%;
        display: grid;
        height: 14vh;
    }

    .flex-nav2 {
        max-width: 100%;
        margin-top: 25px;
    }

    #pics {
        display: flex;
        width: 350px;
        margin-left: 20px;
        justify-content: space-around;
    }

    #picsMobile {
        display: none;
    }

    #mail {
        display: flex;
        margin-top: 5px;
        font-size: 1.8rem;
        justify-content: center;
        width: 300px;
        margin-right: 100px;
    }

    #mail a {
        text-decoration: none;
    }
}