/* police titre EB */

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rubik:wght@300;400;700&display=swap");


:root {
    --white: #ffffff;
    --pinkmo: #f5578e;
    --bluemo: #56ddd9;
    --grey: #bac0c0;
    --black: #010101;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* *bouton burger mobile */

.btn-burger div {
    height: 3px;
    width: 30px;
    background-color: var(--pinkmo);
    margin: 5px 0;
    transition: all 0.3s ease;
}

.btn-burger {
    display: none;
}

.mobile-nav {
    display: none;
}

.section-flex1 {
    margin-bottom: 100px;
}

/* !display mac os x 1440 x 786  */

/* ?barre de navigation */

.flex-nav {
    height: 100px;
}

.nav-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* ?DEFINITION DE LA TAILLE DU LOGO */

.nav-1 p {
    margin-left: 50px;
}


/* ?definition du header */

header {
    height: 100px;
    margin-bottom: 20px;
}

nav span {
    font-size: 1.8rem;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
}


/* ?apparence des trois options */

.nav-1 ul {
    list-style: none;
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
}

.nav-1 ul li {
    font-size: 1.8rem;
    margin: 0 10px;
}

.nav-1 i {
    font-size: 20px;
    margin: 0 5px;
}

.colorWhite {
    color: var(--white);
}

.colorBlue {
    color: var(--bluemo);
}

.colorPink {
    color: var(--pinkmo);
}

.colorGrey {
    color: var(--grey);
}


/* ! apparence des options */

ul a {
    text-decoration: none;
    color: var(--white);
}

body {
    font-family: "Rubik", "Arial";
    font-style: normal;
    background-color: var(--black);
    background-size: cover;
    color: var(--white);
}

h1 {
    display: flex;
    font-family: "Fredoka One", "Arial";
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

h1 span {
    margin: 0 .5%;
}


/* ! CONTENEUR CENTRAL */

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 40px auto;
    justify-items: center;
}

.followers {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 15px;
    margin: auto 10px;
}

.case {
    display: grid;
    width: 85%;
    height: 100px;
    margin: 10px 0;
    justify-items: center;
    font-size: 1.5rem;
    color: var(--black);
    background-color: var(--white);
    border-radius: 5px;
}

.case p {
    margin-top: 5%;
}

.case span {
    display: block;
    font-size: 3rem;
}

.img {
    display: block;
    margin-right: 5px;
    overflow: hidden;
}

.sizepic {
    width: 260px;
    border-radius: 5px;
}

.firstSentence {
    display: block;
}

.secondSentence {
    display: none;
}

#sentence {
    text-align: center;
}


/* ! FOOTER */

.section-flex2 {
    display: grid;
    align-content: center;
}

footer {
    margin-top: 4%;
    display: grid;
    background-color: #171717;
    height: 14vh;
}

.wrapperFooter {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.wrapTop {
    grid-column: 2;
    grid-row: 1 / 3;
}

.wrapBot {
    grid-column: 1;
    grid-row: 1 / 3;
}

.wrapSiteFR {
    grid-column: 3;
    grid-row: 1;
    margin-bottom: 4%;
}

.wrapSiteFR a {
    list-style: none;
    text-decoration: none;
    color: var(--bluemo);
    font-size: 1.2rem;
}

.wrapSign {
    grid-column: 3;
    grid-row: 2;
    color: var(--grey);
    font-size: 1.5rem;
}

#pics {
    display: flex;
    width: 400px;
    justify-content: space-around;
}

#picsMobile {
    display: none;
}

#mail {
    margin-top: 5px;
    font-size: 1.8rem;
}

#mail a {
    text-decoration: none;
    color: var(--grey);
}



/*  */


/*  */


/*  */
/*  */


/*  */


/*  */
/*  */


/* ?mobile size */
/* ?400x740 (samsung A51) */

@media screen and (max-width: 600px) {
    h1 {
        text-align: center;
        font-size: 140%;
    }

    h1 span {
        margin: 0 1.5%;
    }

    header {
        height: 9vh;
    }

    .flex-nav {
        height: 8vh;
    }

    nav span {
        font-size: 1.8rem;
        margin: 0 10px;
    }

    nav a {
        text-decoration: none;
    }

    nav ul li {
        display: none;
    }

    .nav-1 p {
        margin-left: 10px;
    }

    /* button burger */
    .mobile-nav {
        display: inline-block;
        background: linear-gradient(#f5578e, #56ddd9);
        border-radius: 5px;
        width: 90%;
        top: 10%;
        right: 0;
        /* position and overflow are important to hide the menu burger */
        position: fixed;
        overflow: hidden;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }


    .mobile-ul {

        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 40vh;
    }



    .mobile-ul a {
        color: var(--white);
    }

    .btn-burger {
        display: block;
        margin-right: 10px;
    }

    .mobile-nav-active {
        transform: translateX(-5%);
    }

    /* !MAIN */
    .container {
        display: flex;
        width: 80%;
        margin: 4px auto;
    }

    .img {
        display: none;
    }

    .followers {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 90px);
        grid-gap: 10px;
        justify-content: center;
        margin: auto 0px;
    }

    .case {
        display: grid;
        width: 80px;
        margin: 10px 0;
        text-align: center;
        align-items: center;
        font-size: 1rem;
        color: #010101;
        background-color: #fff;
        border-radius: 5px;
    }

    .case span {
        display: block;
        font-size: 2.5rem;
    }

    .firstSentence {
        display: none;
    }

    .secondSentence {
        display: block;
    }

    #sentence {
        text-align: center;
        margin: auto;
        padding: 10px;
        font-size: 1rem;
    }


    /* !footer */
    #pics {
        display: none;
    }

    footer {
        margin-top: 13%;
        display: grid;
        background-color: #171717;
        height: 14vh;
    }

    .wrapperFooter {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

    .wrapTop {
        margin-top: 2%;
        grid-column: 1;
        grid-row: 1;
    }

    .wrapBot {
        grid-column: 1;
        grid-row: 2;
        margin-left: 8%;
    }

    .wrapSiteFR {
        display: none;
    }

    .wrapSign {
        grid-column: 1;
        grid-row: 3;
        color: var(--bluemo);
        margin-bottom: 2%;
        font-size: .8rem;
    }

    nav #pics {
        display: none;
    }

    nav #picsMobile {
        display: flex;
        width: 60%;
        justify-content: space-around;
    }

    nav #mail {
        display: flex;
        margin-top: 5px;
        font-size: 1rem;
        justify-content: center;
        width: 150px;
        margin-right: 30px;
    }

    #mail a {
        text-decoration: none;
        color: var(--grey);
    }

    /* La classe toggle est créée directement en JS */
    .toggle .line-1 {
        transform: rotate(45deg) translateX(11px);
    }

    .toggle .line-2 {
        opacity: 0;
    }

    .toggle .line-3 {
        transform: rotate(-45deg) translateX(11px);
    }

    .mobile-img {
        display: block;
    }

    .desktop-img {
        display: none;
    }
}



/*  */


/*  */


/*  */
/*  */


/*  */


/*  */
/*  */

@media screen and (min-width:1920px) {

    /* ?navbar */

    .flex-nav {
        height: 100px;
        margin-top: 1%;
    }

    /* ?definition du header */

    header {
        height: 120px;
    }

    nav span {
        font-size: 2.5rem;
        margin: 0 10px;
    }

    /* ?look of three options */

    .nav-1 ul li {
        font-size: 2.3rem;
        margin: 0 10px;
    }

    h1 {
        display: flex;
        font-family: "Fredoka One", "Arial";
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        font-size: 260%;
    }




    /* ! MIDDLE CONTAINER  */

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        margin: 40px auto;
        justify-items: center;
    }

    .followers {
        width: 400px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding: 15px;
        margin: auto 10px;
    }

    /* ! MIDDLE CONTAINER */
    .case {
        height: 85%;
        margin: 20% 0;
        margin-top: 10%;
    }

    .case p {
        margin-top: 5%;
    }

    .case span {
        display: block;
        font-size: 4rem;
    }

    .img {
        display: block;
        margin-right: 5px;
        overflow: hidden;
    }

    .sizepic {
        width: 350px;
    }

    #sentence {
        text-align: center;
        margin-bottom: 50px;
        font-size: 140%;
    }

    footer {
        margin-top: 4%;
        display: grid;
        background-color: #171717;
        height: 14vh;
    }

}